<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.edusystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录界面-->
        <!--注册界面-->
        <!--忘记密码-->
        <!--登录后跳转的布局-->
        <activity android:name=".me.MeAftlogin"/>
        <!--用户协议-->
        <activity android:name=".Agreement"/>
        <!--隐私政策-->
        <activity android:name=".Privacy"/>
        <!--协议和隐私政策-->
        <activity android:name=".me.Mepriage"/>
        <!--用户反馈-->
        <activity android:name=".me.Mefeedback"/>
    </application>

</manifest>